@model IEnumerable<DetalleCotizaciones.Models.CotizacionesDetalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CotizacionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CotizacionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DetalleCotizacionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DetalleCotizacionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DetalleCotizacionId })
        </td>
    </tr>
}

</table>
